<div class="controls-panel">
  <button 
    tuiIconButton
    tuiDropdownHover
    appearance="secondary"
    size="m"
    class="control-button dropdown-trigger"
    [tuiDropdown]="dropdown"
    tuiDropdownAlign="left"
    [tuiDropdownSided]="true"
    [tuiDropdownOffset]="10"
  >
    <tui-icon icon="@tui.layers"></tui-icon>
  </button>

  <button 
    tuiIconButton
    appearance="secondary"
    size="m"
    class="control-button"
    (click)="onToggleSidebar()"
    [tuiHint]="sidebarHint()"
    tuiHintDirection="left"
    type="button"
  >
    <tui-icon [icon]="sidebarIcon()"></tui-icon>
  </button>

  <div class="controls-group">
    <button 
      tuiIconButton
      appearance="secondary"
      size="m"
      class="control-button"
      (click)="onLocateUser()"
      tuiHintDirection="left"
      tuiHint="Моё местоположение"
      [disabled]="isLocating()"
      type="button"
    >
      <tui-icon icon="@tui.locate"></tui-icon>
    </button>

    <button 
      tuiIconButton
      appearance="secondary"
      size="m"
      class="control-button"
      (click)="onZoomIn()"
      tuiHintDirection="left"
      tuiHint="Увеличить масштаб"
      type="button"
    >
      <tui-icon icon="zoom-in"></tui-icon>
    </button>
    
    <button 
      tuiIconButton
      appearance="secondary"
      size="m"
      class="control-button"
      (click)="onZoomOut()"
      tuiHintDirection="left"
      tuiHint="Уменьшить масштаб"
      type="button"
    >
      <tui-icon icon="zoom-out"></tui-icon>
    </button>
  </div>
</div>

<ng-template #dropdown>
  <div class="dropdown">
    @for (layer of layers(); track layer.id) {
      <div 
        class="dropdown-item"
        [class.selected]="isCheckedLayer(layer)"
        (click)="onChangeLayer(layer)"
      >
        <div class="radio-indicator"></div>
        <span class="label">{{ layer.title }}</span>
      </div>
    }
  </div>
</ng-template>