.main-layout {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 0;
  transition: width 1s ease;
}

.main-map {
  width: 100%;
  transition: width 1s ease;
}

.sidebar__open {
  width: 30% !important;
}

.main-map__full {
  width: 70% !important;
}