<div class="map-wrapper">
  <div class="main-map--container" 
    leaflet 
    [leafletOptions]="options" 
    [leafletLayer]="selectedMarkerLayer()"
    (leafletMapReady)="onMapReady($event)"
    (leafletMapMoveEnd)="onMapMoveEnd()">
  </div>

  @if (mapInstance) {
    <app-map-controls-panel
      [isSidebarOpen]="isSidebarOpen()"
      [isLocating]="isLocating()"
      [zoomLevel]="mapInstance.getZoom()"
      [layers]="layersBaseList"
      [currentLayer]="getCurrentBaseLayer()"
      (changelayer)="onChangeLayer($event)"
      (toggleSidebar)="toggleSidebar()"
      (locateUser)="flyToLocateUser()"
      (zoomIn)="mapInstance.zoomIn()"
      (zoomOut)="mapInstance.zoomOut()"/>
  }
</div>