.map-wrapper {
  height: 100%;
  position: relative; /*Устанавливает кнопку на место*/
}

.main-map--container {
  height: 100%;
}

.custom-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 100px;
  right: 10px;
  z-index: 1000;
}

.geolocation-btn {
  opacity: 0.5;
  background: hsl(260, 100%, 50%);
}

.sidebar-toggle-btn {
  opacity: 0.5;
  background: hsl(260, 100%, 50%);
}