<div class="map-wrapper">
  <div class="main-map--container" 
    leaflet 
    [leafletOptions]="options" 
    [leafletLayersControl]="layersControlConfig" 
    [leafletLayers]="[markersLayer()]" 
    [leafletLayer]="selectLayer()" 
    (leafletMapReady)="onMapReady($event)">
  </div>

  <div class="custom-controls">
    <button tuiButton size="s" (click)="toggleSidebar()" class="sidebar-toggle-btn">
      {{ isSidebarOpen() ? '▶' : '◀' }}
    </button>

    <button tuiButton class="geolocation-btn" size="s" (click)="flyToLocateUser()">
      МОЯ
    </button>
  </div>
</div>