.main-map--container {
  width: 100%;
  height: calc(100vh - 16px);
}

.map-wrapper {
  position: relative;
}

.custom-controls {
  position: absolute;
  bottom: 100px;
  right: 10px;
  z-index: 1000;
}

.geolocation-btn {
  opacity: 0.5;
  background: hsl(260, 100%, 50%);
}
