.main-map--container {
  height: calc(100vh - 16px);
}

.map-wrapper { position: relative; }
.custom-controls {
  position: absolute;
  top: 80px;
  right: 20px;
  z-index: 1000;
}
.geolocation-btn {
  opacity: 0.5;
  background: rgba(100, 100, 255, 0.95);
}