<div class="map-wrapper">
  <div class="main-map--container" 
    leaflet 
    [leafletOptions]="options" 
    [leafletLayersControl]="layersControlConfig" 
    [leafletLayers]="[markersLayer()]" 
    [leafletLayer]="selectLayer()" 
    (leafletMapReady)="onMapReady($event)">
  </div>

  @if (mapInstance) {
    <app-map-controls-panel
      [isSidebarOpen]="isSidebarOpen()"
      [isLocating]="isLocating()"
      [zoomLevel]="mapInstance.getZoom()"
      (toggleSidebar)="toggleSidebar()"
      (locateUser)="flyToLocateUser()"
      (zoomIn)="mapInstance.zoomIn()"
      (zoomOut)="mapInstance.zoomOut()"
    />
  }
</div>