.main-layout {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  width: 0;
  height: 100%;
  transition: width var(--sidebar__transition) ease;
}

.main-map {
  width: 100%;
  transition: width var(--sidebar__transition) ease;
}

.sidebar__open {
  width: var(--sidebar__open__width);
}

.main-map__compressed {
  width: calc(100% - var(--sidebar__open__width));
}