<div class="nav-row">
  <button
    tuiButton 
    iconStart="@tui.x" 
    size="s" 
    appearance="secondary" 
    (click)="closeDetail()">
  </button>
</div>

<div class="content-card">
  @if (object(); as obj) {
  <div class="header-with-badge">
    <h2 tuiTitle="m">
      {{ obj.title }}
    </h2>
    <tui-badge 
      size="m"
      [style.background]="getObjectTypeColor(obj.type)"
      >
      {{ getObjectTypeAlias(obj.type) }}
    </tui-badge>
  </div>

  <p class="object-description">
    {{ obj.description }}
  </p>

  <div class="coords">
    <span class="coord">
      Широта: {{ obj.coords.lat | number:'1.4-4' }}
    </span>
    <span class="coord">
      Долгота: {{ obj.coords.lng | number:'1.4-4' }}
    </span>
  </div>
  } @else {
  <h3 tuiTitle>
    Объект не найден
  </h3>
  }
</div>