.card {
  padding: var(--space-md);
  cursor: pointer;
  transition: all var(--transition-normal);
  border: 1px solid hsla(var(--gray-70), 1);
  border-radius: var(--radius-medium);
  min-height: 6rem;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-medium);
  border-color: hsla(var(--color-main), 0.6);
  background-color: hsla(var(--color-main), 0.05);
}

.header-with-badge {
  display: flex;
  justify-content: space-between;
}

.description {
  margin: 0;
  margin-top: var(--space-md);
  color: var(--gray-50);
}