.card {
  padding: var(--space-md);
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
  cursor: pointer;
  transition: all var(--transition-normal);
  border: 2px solid hsla(var(--gray-70), 1);
  border-radius: var(--radius-medium);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-large);
  border-color: hsla(var(--color-main), 0.6);
  background-color: hsla(var(--color-main), 0.05);
}

.description {
  margin: 0;
  margin-top: var(--space-md);
  color: var(--gray-50);
}